ORT=3000
LANGUAGE=en
TIMEZONE=GT+7
DB_HOST=178.128.109.9
DB_USERNAME=test01
DB_PASSWORD=PlsDoNotShareThePass123@
DB_DATABASE=entrance_test

ACCESS_TOKEN_LIFE=1h
JWT_SECRET=8Zz5tw0Ionm3XPZZfN0NOml3z9FMfmpgXwovR9fp6ryDIoGRM8EPHAB6iHsc0fb
REFRESH_TOKEN_LIFE=30d